body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.h1, h1 {
    font-family: 'Poppins', sans-serif;
}

.h2, h2 {
    font-family: 'Poppins', sans-serif;
}

.h3, h3 {
    font-family: 'Poppins', sans-serif;
}

.h4, h4 {
    font-family: 'Poppins', sans-serif;
}

.h5, h5 {
    font-family: 'Poppins', sans-serif;
}

.h6, h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #941737;
}

img {
    max-width: 100%;
}

blockquote {
    border-left: 5px solid #63516b;
}

blockquote p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-default {
    background-color: #FFFFFF;
}

.top-affix.affix {
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 1px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 14px -4px rgba(0, 0, 0, 0.75);
    z-index: 9;
    top: 0;
    background: #FFF;
}

.navbar-brand {
    padding: 0px;
}

.navbar-nav>li {
    margin-top: 18px
}

.navbar-nav>li.demat {
    background: #941737;
}

.navbar-nav>li.demat a {
    color: #ffffff !important;
}

.example3 .navbar {
    margin-bottom: 0;
    background-image: url(../img/footer-background.jpg);
    background-position: 49% 55%;
    position: relative;
}

.example3 .navbar .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(103, 103, 103, 0.48);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbar-brand>img {
    height: 100%;
    width: 100%;
    padding: 5px;
    position: relative;
}

.example3 {
    background: linear-gradient(to right, #941737 34%, #63516b 65%);
    background-size: 115% 100%;
}

.example3 .navbar-brand {
    height: 80px;
}

.example3 .nav>li>a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 2px solid #941737;
}

.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    transition: 0.2s all;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: 2px solid #941737;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #941737;
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    left: 0;
}

.navbar-nav>li>.dropdown-menu li {
    padding: 10px 0;
}

.dropdown-menu>li>a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #941737;
    background-color: transparent;
}




/**** slider first **/
.content-wrapper-text {
    width: 84%;
    margin-left: 38px;
}
.content-slide img {
    min-width: 50%;
    width: 50%;
}

.content-wrapper-text h1 {
    position: relative;
    bottom: 74px;
    font-size: 24px;
}

.content-wrapper-text .custom-btn{
    position: relative;
    bottom: 50px;

}


.content-wrapper-text .custom-btn {
    position: relative;
    bottom: 50px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #941737;
    color: #fff;
    border:none;
}
.content-wrapper-text .custom-btn:hover{
    background-color: transparent;
    border:none;
    color: #941737;
}


/*.slick-slide {*/



.slick-list, .slick-track {
    height: 100%;
}




/* Slider */

.extra-space {
    padding-left: 0;
    padding-right: 0;
}

.extra-space-adv {
    padding-left: 4px;
    padding-right: 0;
}

.img-res {
    padding-left: 1px;
}
.img-res img {
    box-shadow: 0px 0px 9px 0px #000;
}
.welcome-message {
    padding-top: 22px;
    padding-bottom: 20px;
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slider-aero {
    box-shadow: 0px 0px 9px 0px #000;
}

.slider-aero .slick-dots {
    position: absolute;
    bottom: 14px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slider-aero li button:before{
    content: "\f111";
    font-family: FontAwesome;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/*
advertisement 
 */

.all-list-item {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f7f7f7;
}

.all-list-item p {
    font-size: 14px;
}


/*** list announcement */

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.media-heading a {
    text-decoration: none;
    color: #63516b;
    transition: 1s all ease-in-out;
    font-size: 15px;
}

.media-heading a:hover {
    color: #941737;
}

.media-body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0 15px;
}

.media-object {
    width: 111px;
    min-height: 99px;
    font-weight: bold;
    float: left;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.all-list-item h1 {
    background-color: #941737;
    font-size: 23px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.all-list-item h1:before {}

.all-list-item ul {
    margin: 0;
    padding: 6px 2px;
}

.all-list-item ul li {
    list-style: none;
    padding: 8px 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #8c8c8c;
}

.all-list-item ul a {
    text-decoration: none;
}

.all-list-item ul li time {
    float: right;
}

.all-list-item ul a li {
    text-decoration: none;
    color: #63516b;
    text-transform: capitalize;
}

.all-list-item ul a li:hover {
    color: #941737;
    text-decoration: none;
}


/***** adversiement **/

.advertisment-section .div-image-section img {
    height: 145px;
    width: 100%;
}

.advertisment-section {
    padding-top: 40px;
    padding-bottom: 40px;
}


/*
inverstientn tab
 */

.investment-tabeed {
    padding-bottom: 50px;
}

#exTab1 .tab-content {
    color: #333;
    padding: 5px 15px;
    border: 2px solid #63516b;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #63516b;
}


/* remove border radius for the tab */

.investment-tabeed h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: #63516b;
}

.investment-tabeed h1:after {
    background-color: #941737;
    height: 4px;
    width: 23px;
    content: " ";
    display: block;
}

#exTab1 .nav-pills>li>a {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

table.table.table-hover {
    font-family: 'Poppins', sans-serif;
}


/*** Footer section ****/

.footer {
    position: relative;
    padding-top: 7px;
    padding-bottom: 18px;
    background-image: url(../img/footer-background.jpg);
    color: #FFF;
    background-position: center 17%;
    background-attachment: fixed;
}

.footer .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(4, 4, 4, 0.75);
}

.footer h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
}

.footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-align: justify;
}

.useful-share {
    margin-left: 41px;
}

.useful-share ul {
    margin: 0;
    padding: 0;
}

.useful-share li {
    list-style: none;
}

.useful-share li:hover, .useful-share li a:hover {
    color: #d6d6d6;
}


/*.useful-share li:before {*/


/*font-family: FontAwesome;*/


/*content: "\f101";*/


/*font-size: 16px;*/


/*padding: 9px;*/


/*}*/

.useful-share li a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    transition: 0.2s all;
}

.get-share ul {
    padding: 0;
}

.get-share li {
    list-style: none;
    padding: 5px 0;
}

.get-share li a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.get-share li a i {
    margin: 0 10px;
    font-size: 20px;
}

.footer .useful-share h1:after, .footer .get-share h1:after {
    background-color: #ffffff;
    height: 4px;
    width: 23px;
    content: " ";
    display: block;
}

.container-links li {
    display: inline-block;
    padding: 18px 0;
}

.copyright {
    border-bottom: 9px solid #63516B;
}

.copyright-links {
    padding: 14px 0;
}

.container-links li a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin-left: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #63516b;
}

.copyright-links {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    text-decoration: none;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: bold;
}


/*
welcome message
 */

.wel-com-form .content-wrapper p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #484848;
    text-align: center;
}

.wel-com-form h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #5a5a5a;
}

.col-centered {
    float: none;
    margin: 8px auto;
    color: #8c8c8c;
    padding: 22px;
}


/* new ticker */

.ticker-container {
    height: 60px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(99, 81, 107);
    color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.ticker-container .ticker-caption {
    height: 50%;
    width: 100%;
    display: table;
    position: absolute;
    color: white;
    font-size: 0.8em;
    z-index: 1;
}

.ticker-container .ticker-caption p {
    height: inherit;
    width: inherit;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.ticker-caption {
    position: relative;
    background: #941737;
    border: 4px solid #941737;
}

.ticker-caption:after, .ticker-caption:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ticker-caption:after {
    border-color: rgba(148, 23, 55, 0);
    border-left-color: #941737;
    border-width: 30px;
    margin-top: -30px;
}

.ticker-caption:before {
    border-color: rgba(148, 23, 55, 0);
    border-left-color: #941737;
    border-width: 36px;
    margin-top: -36px;
}

.ticker-container ul {
    list-style: none;
    padding: 0;
    height: auto;
}

.ticker-container ul div {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    display: inline;
    min-width: 100%;
    left: 0;
    height: 50%;
    transition: 0.25s ease-in-out;
}

.ticker-container ul div.ticker-active {
    top: 30px;
}

.ticker-container ul div.not-active {
    top: 60px;
}

.ticker-container ul div.remove {
    top: 0;
}

.ticker-container ul div li {
    font-family: 'Poppins', sans-serif;
    padding: 8px 0;
}

.ticker-container ul div li a {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}


/* floating social media */

[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}

#sticky-social {
    left: 0;
    position: fixed;
    top: 48%;
}

#sticky-social a {
    background: #333;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
    text-decoration: none;
}

#sticky-social a span {
    line-height: 35px;
    left: -120px;
    position: absolute;
    text-align: center;
    width: 120px;
}

#sticky-social a:hover span {
    left: 100%;
}

#sticky-social a[class*="facebook"], #sticky-social a[class*="facebook"]:hover, #sticky-social a[class*="facebook"] span {
    background: #3b5998;
}

#sticky-social a[class*="twitter"], #sticky-social a[class*="twitter"]:hover, #sticky-social a[class*="twitter"] span {
    background: #00aced;
}

#sticky-social a[class*="gplus"], #sticky-social a[class*="gplus"]:hover, #sticky-social a[class*="gplus"] span {
    background: #dd4b39;
}

#sticky-social a[class*="linkedin"], #sticky-social a[class*="linkedin"]:hover, #sticky-social a[class*="linkedin"] span {
    background: #007bb6;
}

#sticky-social a[class*="instagrem"], #sticky-social a[class*="instagrem"]:hover, #sticky-social a[class*="instagrem"] span {
    background: #517fa4;
}

#sticky-social a[class*="stumbleupon"], #sticky-social a[class*="stumbleupon"]:hover, #sticky-social a[class*="stumbleupon"] span {
    background: #eb4924;
}

#sticky-social a[class*="pinterest"], #sticky-social a[class*="pinterest"]:hover, #sticky-social a[class*="pinterest"] span {
    background: #cc2127;
}

#sticky-social a[class*="flickr"], #sticky-social a[class*="flickr"]:hover, #sticky-social a[class*="flickr"] span {
    background: #ff0084;
}

#sticky-social a[class*="tumblr"], #sticky-social a[class*="tumblr"]:hover, #sticky-social a[class*="tumblr"] span {
    background: #32506d;
}


/*
single page design code
 */

.header-banner {
    background-color: #941737;
    text-align: center;
    color: #FFF;
    padding-top: 59px;
    padding-bottom: 59px;
}

.header-banner .header-content-wrapper h1 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}

.post-date-and-author {
    letter-spacing: 1px;
}


/*
call to action
 */

.call-to-action-share {
    background-color: #63516b;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
}

.call-to-action-share h1 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.call-to-action-share .btn-calltoaction {
    border: none;
    padding: 18px 85px;
    margin: 11px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
/* breadcumb */
#crumbs {
    margin-top: 15px;
    font-size: 15px;
}
#crumbs a {
    color: #FFF;
    font-size: 16px;
}

#crumbs .current {
    font-size: 16px;
}

/*
image single
 */

.img-responsive-dba {
    background-size: cover;
    height: 350px;
    background-position: center center;
    margin: 15px 0;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.post-navigation {
    padding-bottom: 29px;
    padding-top: 29px;
}

.post-navigation .screen-reader-text {
    font-family: 'Poppins', sans-serif;
    color: #5f5f5f;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 13px 0;
    display: none;
}

.nav-links .nav-previous {
    float: left;
}

.nav-links .nav-previous a, .nav-links .nav-next a {
    text-decoration: none;
    padding: 10px;
    background-color: #941737;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 4px;
}

.nav-links .nav-previous a:before {
    font-family: FontAwesome;
    content: "\f100";
    font-size: 17px;
    margin: 0 9px;
}

.nav-links .nav-next a:after {
    font-family: FontAwesome;
    content: "\f101";
    font-size: 17px;
    margin: 0 9px;
}

.nav-links .nav-next {
    float: right;
}


/*
footer heart
 */

.love-developer {
    display: inline-flex;
    padding: 9px 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
    font-family: 'Poppins', sans-serif;
}

.love-developer a {
    text-decoration: none;
    color: #1f9fb5;
}

.heart {
    margin-left: 10px;
    z-index: 1;
    width: 25px;
    height: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE3M3B4IiBoZWlnaHQ9IjE1OHB4IiB2aWV3Qm94PSIwIDAgMTczIDE1OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTczIDE1OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRUY0NjU3IiBkPSJNMTU3LjMzMSwxNS41MDRjLTE5LjU1OS0xOS41NTktNTEuMjcxLTE5LjU1OS03MC44MzEsMGMtMTkuNTU5LTE5LjU1OS01MS4yNzEtMTkuNTU5LTcwLjgzMSwwDQoJYy0xOS41NTksMTkuNTU5LTE5LjU1OSw1MS4yNzEsMCw3MC44MzFsNzAuODMxLDcwLjgzbDcwLjgzMS03MC44M0MxNzYuODksNjYuNzc1LDE3Ni44OSwzNS4wNjQsMTU3LjMzMSwxNS41MDR6Ii8+DQo8L3N2Zz4=");
}

#top {
    width: 200px;
    margin: auto;
    position: relative;
}

#top span {
    height: 350px;
    position: absolute;
    width: 20px;
    left: 50%;
    margin-left: -10px;
    top: 110px;
}

.heart {
    animation: HEARTBEAT 2.5s infinite;
}

#top span {
    animation: BOUNCE 2.5s infinite;
}

@keyframes HEARTBEAT {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.3);
    }
    10% {
        transform: scale(1.1);
    }
    15% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes BOUNCE {
    0% {
        top: 110px;
    }
    10% {
        top: 80px;
    }
    15% {
        top: 85px;
    }
    20% {
        top: 70px;
    }
    75% {
        top: 110px;
    }
    100% {
        top: 110px;
    }
}


/*
* latest news
*/

.expiry {
    background-color: #941737;
    padding: 48px;
    text-align: center;
    color: #FFF;
    font-size: 34px;
}

.blog-page {
    padding-top: 47px;
    background: #FFFFFF !important;
}

.custom-viewall {
    border: 2px solid #63516b;
    padding: 14px 48px;
    margin: 21px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #63516b;
    transition: 0.3s all;
}

.custom-viewall:hover {
    border: 2px solid #63516b;
    background-color: #63516b;
    color: #FFF;
    transition: 0.3s all;
}

.latest-news-section .img-sec {
    background-size: cover;
    height: 165px;
    background-repeat: no-repeat;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
    margin-bottom: 16px;
    background-position: 48% 100%;
}

.latest-news-section {
    background-color: #f7f7f7;
}

.latest-news-section h1 {
    font-size: 28px;
    color: #941737;
    font-family: 'Raleway', sans-serif;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 27px;
}

.latest-news-section h1:after {
    background-color: #63516b;
    height: 5px;
    width: 42px;
    content: " ";
    display: block;
}

.latest-news-section h2 {
    height: 66px;
    font-size: 15px;
    margin: 6px 0;
    font-weight: bold;
}

.latest-news-section h2 a {
    text-decoration: none;
}


/*
 * 404 pages
 */

.four-zero-pages-design h1 {
    font-size: 114px;
    font-weight: bold;
    padding-top: 69px;
    padding-bottom: 69px;
    color: #b5b5b5;
}

.four-zero-pages-design p {
    font-size: 31px;
    color: #63516b;
    text-transform: uppercase;
    font-weight: bold;
}


/*
* social media share
 */

.social-share {
    text-align: center;
}

.social-share li {
    display: inline-block;
}

.social-share li svg {
    width: 40px;
}


/* centered columns styles */

.banner-box.red b {
    background: #d34836;
    color: white;
    margin: -1px -1px 1px -1px;
}

.banner-box b {
    display: block;
    font-size: 20px;
    color: #ffffff;
    line-height: 35px;
    background: #003366;
}

.banner-box {
    min-height: 75px;
    background: white;
    margin-bottom: 20px;
    text-align: center;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
}

.banner-box ul {
    list-style: none;
    padding: 0px 0;
}

.banner-box ul li {
    display: block;
    width: 33.33%;
    float: left;
}

.banner-box ul li:first-child {
    border-right: 1px solid #f5f5f5;
}

.banner-box ul li strong {
    display: block;
    font-size: 15px;
}

.banner-box ul li span {
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 8px;
}

.wrapper-content-sumeru {
    margin-top: 15px;
}

.slider-slick-wrapper-sumeru .banner-box {
    margin: 0px 6px;
}

.padder {
    padding-left: 15px;
    padding-right: 4px;
}

.coli {
    min-height: 79px;
}
/**** col wrapper ****/
.welcome-message h1 {
text-align: center;
    font-weight: bolder;
    font-size: 38px;
    margin-bottom: 0;
}
