@media (min-width: 500px) {
    .ticker-container {
        height: 37px;
        text-align: left;
    }
    .ticker-container .ticker-caption {
        height: 100%;
        width: 109px;
    }
    .ticker-container .ticker-caption p {
        text-align: left;
        /*padding-left: 7px;*/
    }
    .ticker-container ul {
        margin-left: 170px;
        height: 100%;
    }
    .ticker-container ul div {
        height: 100%;
        left: 170px;
    }
    .ticker-container ul div.ticker-active {
        top: 0;
    }
    .ticker-container ul div.not-active {
        top: 30px;
    }
    .ticker-container ul div.remove {
        top: -30px;
    }
}

@media (min-width: 768px) {
    .ticker-container {
        margin-bottom: 0px;
    }
}

@media (min-width: 992px) {
    .ticker-container {
        margin-bottom: 0px;
    }
}